Hello,<br/><br/>
Subscriber <b><%= subscriber.name.full %></b> (ID: <b><%= String(subscriber._id) %></b>; Email: <b><%= subscriber.email %></b>) has sent a help query with subject "<i><%= subject %></i>" and the following message:<br/><br/>

<p style="padding: 1em; background: #F8F9FA;">
<%= msg %>
</p>
